[submodule "fmriprep"]
	path = fmriprep
	url = git@github.com:Gilles86/fmriprep.git
[submodule "nighres"]
	path = nighres
	url = git@github.com:Gilles86/nighres.git
	branch = release-1.1.0b_docker
[submodule "pymp2rage"]
	path = pymp2rage
	url = git@github.com:Gilles86/pymp2rage.git
[submodule "pybids"]
	path = pybids
	url = git@github.com:Gilles86/pybids.git
